/* ------------------------------------------------------------
 * Pure-Latin v5.3 - Custom GTK Overrides
 * ------------------------------------------------------------ */

window,
.navigation-bar,
headerbar,
dialog {
    border-radius: 0px !important;
}

scrollbar slider {
    min-width: 4px;
    min-height: 4px;
    border-radius: 0px !important;
    background-color: rgba(255, 255, 255, 0.2);
}

scrollbar slider:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
