/* ------------------------------------------------------------
 * Pure-Latin v2.0 - SwayOSD Stylesheet
 * ------------------------------------------------------------ */
window {
    background: rgba(38, 42, 51, 0.95);
    border: 2px solid #5e81ac;
    border-radius: 0px;
}

#container {
    padding: 10px;
}

#label {
    color: #d3dee9;
    font-family: "JetBrainsMono Nerd Font";
}

#bar {
    background: #333842;
    outline: 1px solid #4c566a;
}

#level {
    background: #81a1c1; /* Slightly brighter blue for clarity */
}
