/* Pure-Latin v5.2 - SwayOSD (Sharp HUD) */
@define-color background-color rgba(15, 17, 21, 0.98);
@define-color border-color #FFFFFF;

window {
    border-radius: 0px;
    border: 2px solid @border-color;
    background-color: @background-color;
}

label {
    font-family: 'Inter', 'JetBrainsMono Nerd Font';
    font-size: 11pt;
    color: #FFFFFF;
}

image { color: #FFFFFF; }

progressbar {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.1);
}

progress {
    background-color: #FFFFFF;
    border-radius: 0px;
}
